[2019-04-17 09:01] isBatak opened #3 "Important question!"
Where is clippy? :D

[2019-04-17 09:13] json469 opened #4 "Add Clippy (Clippit ) Office Assistant"
Raised from #3

[2019-04-17 16:56] TristanWiley opened #5 "Add Windows 95 styled scrollbars"
Something like these would do
https://codepen.io/louh/pen/oZJQvm

[2019-04-17 18:21] JB1905 opened #6 "Add error (Blue Screen of Death) component"
Add error (Blue Screen of Death) component

[2019-04-17 20:10] langel commented on #4
dang thats a lot of sprites!
http://clippy.js.s3.amazonaws.com/Agents/Clippy/map.png

[2019-04-18 14:52] us opened #7 "About sharing knowledge"
### What is the problem with Chinese README's

Firstly, we congratulate you for getting so much star by sharing this repository with humanity.

But it is very disappointing for non-Chinese speakers when one couldn't understand what a trending repository is about.

When we see such a repo on trending, our minds are blurring like Gollum's.

![Gollum Image](https://media.giphy.com/media/V4uGHRgz0zi6Y

[2019-04-18 14:52] #7 closed

[2019-04-18 14:52] us commented on #7
sorry about that

[2019-04-18 15:23] ReactGirl opened #8 "Cannot import Menu component"
The Start menu show in story components is not exportable, so I cant use as the example shown in StoryBook

Doing this way:

import {Menu} from 'react95'

Any suggestion?

[2019-04-18 16:01] arturbien commented on #8
Sorry for that! The Menu component was made to only showcase how menu may be implemented, and the current story source only shows the <Menu /> element without actual code it contains. That's why we have to add a [addon-storysource](https://github.com/storybooks/storybook/tree/master/addons/storysource) so people can see actual code in it. For now, see how [<Menu /> element](https://github.com/artu

[2019-04-18 16:04] arturbien opened #9 "Implement addon-storysource in Storybook"
We need to implement [addon-storysource](https://github.com/storybooks/storybook/tree/master/addons/storysource) in Storybook, because when example story is a class based component, it doesn't show its children. Is there any volunteer that would take that task? 🌈

[2019-04-18 16:05] #3 closed

[2019-04-19 06:39] niedzielnyaniol opened #10 "Storybook build output folder"
https://github.com/arturbien/React95/blob/eb6b8f98bb36da6b3733c5c128dac8f9112cc297/package.json#L27

Are you sure that you want to build your storybook into `docs` folder and keep it in git repo?

[2019-04-19 12:39] ReactGirl opened #11 "TextArea function "onChange" not triggered"
The onChange function is not working with TextArea component. Changing to a normal input or Reac95 TextField component as ABA Testing works fine.

Code below:

[code]

[2019-04-19 13:10] arturbien commented on #11
Yes I found the issue. There is a missing exclamation mark before 'disabled ' check in TextArea code:
`onChange={ disabled && onChange ? onChange : undefined }`
By the way, we have to make use of hooks  in TextArea so it is self-controlled (just like it's done in [TextField](https://github.com/arturbien/React95/blob/master/src/components/TextField/TextField.js)). Would you like to solve the issue?

[2019-04-19 16:01] arturbien commented on #10
Any suggestions? 😊 is there something wrong with the current approach? thanks for getting involved

[2019-04-19 16:04] arturbien commented on #11
@ReactGirl  I just fixed the problem, so install newer version of React95 and it will work. Also, I mentioned you in [storybook](https://arturbien.github.io/React95/?selectedKind=TextArea&selectedStory=default&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel). Thanks for being active here 🚀

[2019-04-19 16:04] #11 closed

[2019-04-19 21:33] benwiley4000 opened #12 "range slider component"
Thanks for creating this great project!

It would be nice to have the slider/range selector from windows 95. There are a couple of variants at least, it seems. So nice to have as props would be:

- `barHeight` - by default this is 0 (so we just see the border) but in the media player for example it's nonzero.
- `min` - the minimum numerical value
- `max` - the maximum numerical value
- `step` - th

[2019-04-19 21:51] benwiley4000 commented on #12
I would be willing try to work on a PR for this but I'm not sure how to get the slider handle.

[2019-04-19 22:02] arturbien commented on #12
@benwiley4000 that would be great man! I think it's doable with styling alone, without any images. As I can see it- you could make the handle with one rectangle with styled borders (just like in buttons), and apply some pseudo element on it and rotate it? If not, you can always do a rectangular one, and we gonna find some CSS ninja to help us out some time later 😂

[2019-04-19 22:04] benwiley4000 commented on #12
Ok, I'll try a few things and get back.

[2019-04-19 22:50] ReactGirl opened #13 "TextArea and TextInput seems not be controlled by "value" prop"
After submitting the form and try to reset the value, the input field is not updated to an empty string.

When the ***Publish it!*** button is clicked the following function is called:
[code]
The state is updated to empty string, however it does not update the text area to empty string, which remains with the old values.

The function is triggered by the following code:

[code]
Using normal html i

[2019-04-20 09:49] anton-g commented on #13
I ran into the same thing. Would be good to be able to use in both controlled and uncontrolled mode. One idea would be that setting the `value` prop means you want to control it yourself, and leaving it empty would work like it does right now. Might have to add a `defaultValue` prop or similar to support setting an initial value though.

[2019-04-20 17:44] arturbien commented on #13
@ReactGirl  @anton-g ok it's fixed in 1.0.3 🚀 use 'value' in controlled component, and 'defaultValue' in uncontrolled one 😊 (just like in React [docs](https://reactjs.org/docs/uncontrolled-components.html))

[2019-04-20 17:44] #13 closed

[2019-04-20 21:06] ReactGirl opened #15 "Feature request: Window with a Close button on Header"
Would be nice to have a Window prop that adds the closing 'X' that trigger some sort of event as onClose. It might be similar to the modal react bootstrap for example.

[2019-04-21 05:26] benwiley4000 opened #16 "Missing 2px margin right on WindowContent"
`WindowHeader` has a 2px right margin and for consistency it seems like `WindowContent` should have the same right margin. It looks a bit funny without. (I'm negating padding for my use case since the original player doesn't have any padding).

Without the 2px content margin:

![Screenshot from 2019-04-21 01-23-40](https://user-images.githubusercontent.com/13558253/56465808-7776c600-63d4-11e9-90b9

[2019-04-21 20:40] arturbien commented on #16
@benwiley4000 thanks for the heads up! Just commited the changes. It will be fixed in the next version 😊

[2019-04-21 20:40] #16 closed

[2019-04-21 20:41] #8 closed

[2019-04-21 21:01] benwiley4000 commented on #16
Thanks!

[2019-04-21 21:32] benwiley4000 opened #17 "Vertical divider would be nice"
As seen here:

![Screenshot from 2019-04-21 16-59-18](https://user-images.githubusercontent.com/13558253/56475678-94091180-6459-11e9-949a-afb4813abfc9.png)

I implemented something based on the existing divider component here:

[code]

The negative top/bottom margins are to account for the padding in the Toolbar component.

This is what it looks like:

![Screenshot from 2019-04-21 17-31-12](https:

[2019-04-22 07:39] maracuja-juice opened #18 "yarn or npm"
There is both a yarn.lock and a package-lock.json. The two don't play well together out of experience. Should we use yarn or npm to contribute to this project?

[2019-04-22 08:00] maracuja-juice opened #20 "update to storybook v5"
I would recommend to update the Storybook package to its version 5. I can help with that if you want.

[2019-04-22 08:37] arturbien commented on #9
addon-storysource added by @maracuja-juice 🎉

[2019-04-22 08:37] #9 closed

[2019-04-22 08:40] arturbien commented on #18
Please use NPM. 😊

[2019-04-22 08:47] arturbien commented on #20
@maracuja-juice yes, let's do this! I willl assign you to that task then 🔥

[2019-04-22 08:49] maracuja-juice commented on #18
Okay. We should delete the yarn.lock in that case then.

[2019-04-22 09:08] arturbien commented on #18
@maracuja-juice I just did that in the last commit. Thanks for the heads up!

[2019-04-22 09:08] #18 closed

[2019-04-22 09:15] arturbien commented on #17
@benwiley4000 yes that would be great! can you make a pull request for that? You should be shown in the contributors list 🎉

[2019-04-22 11:40] #20 closed

[2019-04-23 09:39] niedzielnyaniol commented on #10
[Storybook recommendation](https://storybook.js.org/docs/basics/exporting-storybook/)

For me `docs/` should contains `*.md` files in most cases.
What about building storybook - i would set out dir to `.out/` and keep it in `.gitignore` then add `build:storybook` to `release` command in your `package.json` scripts that update storybook after publishing new release

[2019-04-23 10:49] maracuja-juice commented on #10
You can of course change it but I don't see what this project gains from it right now.

[2019-04-24 17:08] #17 closed

[2019-04-24 17:11] benwiley4000 commented on #17
Hey @arturbien sorry for not getting back on this.. but I appreciate you implementing this feature thank you!

[2019-04-24 17:11] arturbien commented on #12
@benwiley4000 any progress? 🕵🏻‍♂️

[2019-04-24 17:13] arturbien commented on #17
@benwiley4000 no problem! I will try to add some more things before I release new version with updated <Divider /> so be patient

[2019-04-24 17:39] benwiley4000 commented on #12
I'm currently working on implementing something for the media player component I'm building, and when that all seems good I plan to extract it as something useable with this library.

Something that's a bit challenging is the tick mark/label placement. Windows seems to implement some pretty complicated logic there..

Here are a few observations I have based on trying several pieces of media of dif

[2019-04-24 17:40] benwiley4000 commented on #12
Now that I've written all that up I'll definitely be referring back here. 😄 But yeah, any thoughts?

[2019-04-24 17:51] benwiley4000 commented on #12
Perhaps the "should I draw or not" logic is,

1. Can labels be drawn at the tick interval without overlapping? Draw them all (except the second to last)
2. No? Then draw labels for every even-indexed tick (starting at index 0) but stop drawing as soon as a label would overlap with the label for the final tick, which we must draw
    - I think that nuance explains why we can't draw the label at 4 s

[2019-04-24 18:09] benwiley4000 commented on #17
Thanks, let me know when you do release! I fixed my version of react95 for now because the 2px windowcontent width change will actually be a breaking change for me, since I already patched it locally.. haha.

[2019-04-24 18:13] maracuja-juice opened #25 "Are you using React95 for a project? What is it?"
I would be interested what everyone is using this great library for 😃

Add any publicly available links here.

(Hope you're fine with this issue arturbien. Just genuinely curious)

[2019-04-24 23:51] tyler-reitz opened #26 "Avatar"
I'd be happy to work on the Avatar component but would need some visual guidance. Is there anything to reference?

[2019-04-24 23:55] tyler-reitz opened #27 "Testing"
Can help with this if you lay out some bullet points of what you're looking for.

[2019-04-25 06:34] arturbien commented on #27
@tyler-reitz to be honest I am just starting to learn testing so I am not an expert in this field. Maybe you can suggest something? For sure we need unit tests for our components 😊 I will assign you to that task. Thanks a lot for joining!

[2019-04-25 07:14] arturbien commented on #12
@benwiley4000 now that's a great essay 😂 Remember we are not trying to exactly recreate every aspect of Windows95. The most important thing is to make it work on **mobile devices** so we shouldn't get too fixated on small details like how it originally worked in Windows.

We should have 3 variants of the Range component:

- [ ] no ticks && no labels (I think this variant will be used the most espe

[2019-04-25 11:12] benwiley4000 commented on #25
https://github.com/benwiley4000/win95-media-player

https://benwiley4000.github.io/win95-media-player/

![win95-media-player](https://user-images.githubusercontent.com/13558253/56731819-64902880-6729-11e9-89f8-b2745799be08.png)

haha

[2019-04-25 12:03] arturbien commented on #25
@benwiley4000 haha I love that 😂

Here's my cryptocurrency app (just a prototype):

![coins](https://user-images.githubusercontent.com/28541613/56734215-835ee100-6762-11e9-9cf9-5023753f72cc.jpg)

[2019-04-25 12:06] arturbien commented on #25
@benwiley4000 haha I love that! 😂

Here's a prototype of my cryptocurrency app:

![coins](https://user-images.githubusercontent.com/28541613/56734490-49daa580-6763-11e9-80c9-e4e27f3bd17f.jpg)

[2019-04-25 20:30] tyler-reitz commented on #27
@arturbien TBH, I'm probably not that much further along than you in terms of testing experience, but I would love to get more practice. I think, for now, just setting up the test harness and assertions with Jest and getting snapshots of all the components makes sense. There are a few interesting helper libraries, that might be of interest depending on how well they're being maintained:

- https:/

[2019-04-25 21:57] arturbien commented on #27
@tyler-reitz sounds good to me! 😊 the jest-styled-components seems to be the most popular helper library for testing styled-components so lets go with that one. We'll see if something else comes up along the way.  For now the things you mentioned should be sufficient.

Can you make a pull request when you write first few tests? I would then make it a separate branch so we could work on this togeth

[2019-04-25 22:12] tyler-reitz commented on #27
@arturbien Sounds good. Will get cracking on things over the weekend and open a PR as soon as some tests are in place.

[2019-04-27 11:13] arturbien commented on #10
@niedzielnyaniol for now I think it's all good. Right now only documentation we have is the storybook so let it be 😊

[2019-04-27 11:13] #10 closed

[2019-04-28 14:07] arturbien commented on #25
@benwiley4000 @maracuja-juice I just created Discord chat for our community so please join! [Link here 💖](https://discord.gg/VfMmpPq)

[2019-04-28 14:15] arturbien commented on #27
@tyler-reitz any progress? 😊 also, I just started a [Discord chat](https://discord.gg/VfMmpPq) for React95 community, so I would be happy if you joined too 🤟🏻

[2019-04-28 19:20] tyler-reitz commented on #27
@arturbien Ya! I got Jest and Enzyme working with rollup last night. Gonna start with actual tests today. Will jump on the Discord server too :+1:

[2019-04-30 02:21] goodmind commented on #26
![DaIcGyWU8AAlbU7](https://user-images.githubusercontent.com/3275424/56937859-5de22680-6b18-11e9-83a5-e3f0cecc4d97.png)

Would need canvas to reduce bit depth tho, or maybe css custom filter

[2019-04-30 09:20] arturbien commented on #26
@tyler-reitz @goodmind I think something this simple would be great:

![image](https://user-images.githubusercontent.com/28541613/56951515-56cb1080-6b38-11e9-9379-09c94b4b3302.jpg)

Avatar component is frequently used in AppBars as a user navigation or in chat apps so we could do something similar to [material-ui avatar](https://material-ui.com/demos/avatars/). Also it would be nice to implement t

[2019-04-30 13:44] goodmind commented on #26
@arturbien but this isn't real app :P

[2019-04-30 13:49] arturbien commented on #26
@goodmind yes it's a design. Just like any UI design you get from designers to convert it into something real. 😊

[2019-05-02 01:22] tyler-reitz commented on #26
@arturbien thanks for the notes. That pixelated circle looks :ok_hand: but I'm not sure there's any sane CSS to pull it off with. Maybe the recessed border from @goodmind's ex. would work instead?

[2019-05-02 06:16] maracuja-juice commented on #26
@tyler-reitz I looked this up the other day and it should definitely be possible with a canvas.

[2019-05-02 06:24] goodmind commented on #26
@tyler-reitz how would this border look on the circle?

[2019-05-02 12:28] goodmind opened #29 "Icons"
Is there icon pack with original icons?

[2019-05-02 16:54] tyler-reitz commented on #26
@goodmind probably not as good as the example provided by @arturbien. @maracuja-juice says the pixelated border effect is achievable with canvas anyway, so no need to fix what ain't broke.

[2019-05-02 18:33] arturbien commented on #29
@goodmind I found some icon sets here:
https://artage.io/en/icon-packs/original-windows-95-icons
http://www.iconwanted.com/en/ipapun/original-windows-95.html
https://win98icons.alexmeub.com/

We could find some more and add it to the library or as an additional package. We would have to make sure all of the icons are the same size and aligned properly (although I think that when we find a resource

[2019-05-02 19:45] arturbien commented on #26
#30 For now I added simple Avatar component with 'noBorder' and 'square' prop. What do you think?

[2019-05-03 04:49] benwiley4000 commented on #12
I was going to share this awhile ago and forgot. I don't know when I'll have time to tackle this for React95 but in the meantime I can share the code I used to implement this for my own project. I'm using a media progress bar from cassette internally so that would need to be replaced (potentially with a similar implementation) but we also might be able to just use a styled version of `<input type=

[2019-05-03 04:54] benwiley4000 commented on #12
Here's the Cassette ProgressBar component. It doesn't contain any styling in its own but it handles all the mouse/touch interaction logic. As mentioned it might be a good idea to use a range input since that obviates pretty much all of this code. https://github.com/benwiley4000/cassette/blob/next/packages/components/src/ProgressBar.js

[2019-05-03 12:05] arturbien opened #31 "Snackbar component"
Make a Snackbar component (just like [material-ui Snackbar](https://material-ui.com/demos/snackbars/) ) which looks like the popup below but with some kind of close button:

![snackbar](https://user-images.githubusercontent.com/28541613/57135800-fb548900-6daa-11e9-8f6b-966379618988.PNG)

[2019-05-03 12:19] arturbien opened #32 "Create flat variants of components"
Add flat variants to some of the components. This may be useful for example when we would want to use checkboxes inside a Table cell or inside Select option

![9](https://user-images.githubusercontent.com/28541613/57136977-c3e7db80-6dae-11e9-84cb-5253710a8558.PNG)

![flat](https://user-images.githubusercontent.com/28541613/57136787-2db3b580-6dae-11e9-89bb-308329f4da08.PNG)

[2019-05-05 12:18] arturbien opened #34 "Make UI kit for Adobe XD"
That would make it a lot easier for people to design UI prototypes of their apps 😊

[2019-05-07 21:14] maracuja-juice commented on #29
You need to be careful about the license of these. Do you know what the license is of these icons? (couldn't find it out)

[2019-05-08 06:34] arturbien commented on #29
Yeah that might be a problem. Well, maybe it's time to find some designers to make some custom icons 🤷‍♂️  or modify the OG ones sufficiently enough 😂

[2019-05-08 17:19] arturbien opened #35 "Button with 'active' prop to have checkered background"
![btns](https://user-images.githubusercontent.com/28541613/57394551-21709380-71c6-11e9-9ff8-960a2191bb2d.PNG)

[2019-05-11 16:52] 1j01 commented on #5
Hey, that's a pretty nice recreation you've found there!
I have one a nice one to look at over here too: https://github.com/1j01/os-gui
I use `::-webkit-scrollbar-track-piece:active` instead of `::-webkit-scrollbar-track:active` so it doesn't darken the background of the scrollbar track when dragging by the scrollbar handle.
Also, the cursor should be reset to `default` for the textarea case, whic

[2019-05-11 17:22] arturbien commented on #5
Yeah @1j01 version looks better 😊 Let's hope our scrollbars won't be to big tho (we are using 2x thicker borders than in original Windows). And we have to make them themable somehow to match other color schemes 🤔

[2019-05-15 20:16] arturbien opened #38 "Add TypeScript type declaration file"

[2019-05-19 19:07] arturbien commented on #26
#30

[2019-05-19 19:07] #26 closed

[2019-06-03 18:11] arturbien commented on #35
Added in v2.0.0

[2019-06-03 18:11] #35 closed

[2019-06-03 18:12] arturbien commented on #32
Added in v2.0.0

[2019-06-03 18:12] #32 closed

[2019-06-03 18:13] #15 closed

[2019-06-24 20:45] arturbien opened #44 "Allow "100%" width prop in Progress component"
Right now `<Progress />` component only accepts number as a width prop (which is then converted to `px`).  Width specified in percent should also be allowed. Progress component should be of 100% width by default.

[2019-06-30 16:29] arturbien opened #45 "Select component: overflowing items"
Items shouldnt overflow - overflowing text should be truncated with ellipsis

[2019-07-04 10:45] Mrpanquecas commented on #44
I can try and make a PR for that,

would you prefer a simple check like this:

props => props.width ? `${props.width}px` : '100%'

or a little more complex check that allows the user to choose the type of width measurement?
IMO the user should always specify the type and resort to px if none is chosen

[2019-07-04 17:43] arturbien opened #46 "Select component: allow other units passed to 'width' prop"
Units like %, vw, vh should also be allowed. Approach could be similar as in [`<TextField />`](https://github.com/arturbien/React95/blob/93d107a96f7288759d0c8fdae9fe0061ef0bfbbc/src/components/TextField/TextField.js#L49) component.

[2019-07-04 17:44] arturbien commented on #44
@Mrpanquecas I think we could approach it in exact same way as in [`<TextField />`](https://github.com/arturbien/React95/blob/93d107a96f7288759d0c8fdae9fe0061ef0bfbbc/src/components/TextField/TextField.js#L49) component. Same thing should also be done in `<Select />` component. #46. Do you want to solve these issues? 😊 thanks a lot for getting involved!

[2019-07-05 01:18] luizbaldi commented on #27
Sup @arturbien and @tyler-reitz!

What do you guys think about using [react-testing-library](https://github.com/testing-library/react-testing-library) for this project? We could start testing a few components and improve this little by little :)

Thoughts?

[2019-07-05 11:17] arturbien commented on #27
@luizbaldi there's  already some work done by @tyler-reitz on  the "testing" branch, but I released v2 in the meantime with some new components and features, so we probably should make a rebase and update snapshots if we wanna continue with this. Tbh I am not experienced in testing so I don't really know which library would be the best fit. @tyler-reitz  used jest, enzyme and react-test-renderer,

[2019-07-05 12:51] luizbaldi commented on #27
Oh, I didn't know about the _testing_ branch, sorry 😅. Regarding `react-testing-library`, the [official react docs](https://reactjs.org/docs/test-utils.html#overview) is now mentioning it as a primary choice, but `enzyme` is a great tool too!

We can decide what's best for the project, no problem :)

[2019-07-05 18:56] arturbien commented on #27
@luizbaldi is `react-testing-library` easier/faster to implement comparing to enzyme? There are only few basic components tested on `testing` branch, so if you want we can make separate branch for tests in `react-testing-library`  and see how it goes. I will do my best to dive into testing soon and add some tests to the branch 😎

[2019-07-06 14:29] luizbaldi commented on #27
@arturbien Sounds great! `react-testing-library` has like a different approach on how to write tests compared to `enzyme`, and it's quite simple actually!

I'll start a new branch called `testing-library` 🚀

[2019-07-10 12:06] Mrpanquecas commented on #44
Yes i will try to solve this issues ASAP, keep up the really good work

[2019-07-10 13:36] Mrpanquecas commented on #44
I've modified the select to be able to get 100% of the width.
the progressbar is a bit more tricky because when you put 100% width in the BlueBar component it gets 100% of the parent so the display of the progress percentage is never placed right. Any ideas to fix this?

also i'm not able to commit (it's my first time contributing ever) how is that process done? (can't push to new/old branches)

[2019-07-10 20:42] arturbien commented on #44
@Mrpanquecas ok so for now just make a pull request for the Select component changes (#46). You can see a nice tutorial on how to do it [here](https://github.com/firstcontributions/first-contributions). As for the Progress component- I can take care of that and I will let you know how I solved the issue, ok? 😊

[2019-07-12 15:05] #46 closed

[2019-07-12 15:23] #45 closed

[2019-07-12 16:07] arturbien commented on #44
@Mrpanquecas you can check my solution for the Progress component now 😊 basically I used css property `clip-path` so the blue bar is always of 100% width but then I only crop out `percentage` % of its width, so the rest becomes invisible

[2019-07-12 16:07] #44 closed

[2019-07-16 01:36] luizbaldi opened #50 "ESLint configuration"
That'd be good to have `ESLint` configured for the project, so we can have a pattern for the codebase and help more new contributors.

Any thoughts on famous JavaScript/React style guides to be followed? _(like Airbnb or Standard)_

[2019-07-16 07:41] arturbien commented on #50
I always see people using AirBnb settings so I think it might be the best option since many people are used to these settings. But let's wait for some more opinions

[2019-07-20 08:46] vnallamhawk commented on #31
@arturbien  : are you working on this issue or is this open ?

[2019-07-20 08:46] vnallamhawk commented on #50
Hello @luizbaldi can i take this up ?

[2019-07-20 09:57] arturbien commented on #31
@vnallamhawk I did some work on the `snackbar` branch. You can check it out and finish it if you want ( I am pretty busy lately 😂)

[2019-07-20 20:16] luizbaldi commented on #50
Of course! Feel free to ping us on the discord channel if you need anything :)

[2019-07-20 20:37] vnallamhawk commented on #50
I am not sure of what is meant by discord channel. Shall we go with airbnb initially ? Should I raise a pull request to master branch with my changes ?

[2019-07-21 10:30] arturbien commented on #50
@vnallamhawk yeah lets do AirBnb, and you can do pull request to master too 🤟🏻

[2019-08-02 13:36] Mrpanquecas commented on #44
Awesome! I will try it out right now in my project! thanks a lot for the explanation!

[2019-08-06 02:22] luizbaldi opened #54 "Prettier configuration"
Thinking about code standardization to provide the best developer experience for everybody working on the source code, I was thinking that we could add `Prettier` to the project, we can use it to enforce the same code pattern across all files.

Thoughts on `Prettier`?

[2019-08-06 12:41] arturbien commented on #54
Yeah I like prettier, I think I even have it as a plugin in VS Code :)

[2019-08-06 12:42] arturbien commented on #50
closed in #52

[2019-08-06 12:42] #50 closed

[2019-08-14 06:00] #54 closed

[2019-09-14 16:47] arturbien opened #56 "Wrong text color in disabled input fields on iOS"
On iOS disabled input fields (TextArea, TextField, NumberField) have wrong text styling:

![example](https://user-images.githubusercontent.com/28541613/64911207-dd1a7480-d71e-11e9-8572-986cb0065801.PNG)

It should look like this:

![example2](https://user-images.githubusercontent.com/28541613/64911221-105d0380-d71f-11e9-9d07-c9d54e1b4fae.PNG)

Adding `-webkit-text-fill-color` CSS property in disab

[2019-09-23 08:48] arturbien opened #57 "Include React95 logo in the bundle"
Include React95 logo in the bundle so users could use it (for example in **Start** button like shown [here](https://arturbien.github.io/React95/?path=/story/appbar--default)). It would be nice to make it as an SVG too

[2019-09-28 04:35] williamgrosset commented on #38
Bump :)

[2019-10-25 18:04] rwachtler commented on #6
Something similar to this? 😄

![Blue screen of death - windows 9X](https://upload.wikimedia.org/wikipedia/commons/3/3b/Windows_9X_BSOD.png)
(Source: [Wikimedia Commons](https://commons.wikimedia.org/wiki/File:Windows_9X_BSOD.png))

[2019-10-25 19:01] arturbien commented on #6
@rwachtler  I did something similar on my [personal website](https://expensive.toys/)  😎.  I am not sure if we should include something like this in React95 library since these 'blue screen' components would require totally different font and styles. Maybe we could possibly make MS-DOS  like UI components as a module of React95 or completely separate library

[2019-10-30 09:53] #56 closed

[2019-11-14 20:16] arturbien opened #68 "Cannot pass ref to TextField"
Cannot pass ref to `<TextField />`. Using `React.forwardRef()` doesn't work either.  (Warning shows in console: `Function components cannot be given refs`).

Same thing most probably happens in all other input components

Reproduction of the bug: https://codesandbox.io/s/serene-dan-qx1cj

[2019-11-14 21:02] arturbien opened #69 "Rewrite Select component"
Currently the `<Select />` component keeps its own state under the hood, so its not possible to control it from the outside. (We need to be able to use the component both as a controlled or uncontrolled input)

Also the `<Select />` component accepts `selectedIndex` prop as an indicator which option out of `options` array is selected and this approach is not very intuitive. Instead it would be bet

[2019-11-21 20:26] rwachtler commented on #68
Could you assign me to this issue?

[2019-11-21 20:45] arturbien commented on #68
@rwachtler of course! also please join our slack (link in the docs) 🔥

[2019-12-23 19:33] arturbien commented on #68
closed by #71

[2019-12-23 19:33] #68 closed

[2020-01-21 12:50] rwachtler commented on #31
@arturbien Is this feature still a thing? Maybe I could take a look into the `snackbar` branch and continue from there, if you don't mind.

[2020-01-21 13:13] arturbien commented on #31
@rwachtler sure man! I don't really remember what's been done there but if you have any questions let me know :)

[2020-01-21 22:27] arturbien opened #73 "Focus management / accessibility"
Currently there is no indication which input element has focus on. We need to add dashed border/outline around `<Radio />`, `<Checkbox />`  components like so:

<img width="761" alt="Screenshot 2020-01-21 at 23 01 03" src="https://user-images.githubusercontent.com/28541613/72847033-05ece080-3ca2-11ea-9e10-e7bc2153f847.png">

For `<Select />` component the focus is indicated by highlighting current

[2020-01-21 22:36] arturbien opened #74 "Add primary variant to <Button />"
Primary button is just like the default one, but more pronounced with dark border all around it (just like this OK button):
<img width="550" alt="Screenshot 2020-01-21 at 23 32 54" src="https://user-images.githubusercontent.com/28541613/72849262-99281500-3ca6-11ea-84ed-89ce113f11a5.png">

[2020-01-22 12:32] arturbien commented on #74
#75

[2020-01-22 12:32] #74 closed

[2020-01-25 15:55] arturbien commented on #12
closed by #79

[2020-01-25 15:55] #12 closed

[2020-01-26 17:34] arturbien opened #81 "Create Stepper component"
Create  [Stepper component](https://material-ui.com/components/steppers/)

[2020-01-29 23:00] arturbien opened #89 "Storybook themes and proptypes table not working anymore"
After upgrading Storybook to v5.3 some features of Storybook stopped working:
- Proptypes are not displayed when component is wrapped in `forwardRef`.
- theme previews addon

[2020-02-07 21:05] arturbien opened #91 "forwardRef for every component"

[2020-02-07 21:35] arturbien opened #92 "Add "menu" variant of Checkbox and Radio"
![EO_0bIkWkAEWOWy](https://user-images.githubusercontent.com/28541613/74067670-0ef7e480-49fa-11ea-8c9d-349d583c7c25.jpeg)

[2020-02-10 23:31] arturbien opened #96 "Add ColorPicker component"
<img width="427" alt="Screenshot 2020-02-11 at 00 31 15" src="https://user-images.githubusercontent.com/28541613/74199934-d6f4d980-4c65-11ea-903c-4296d794d2be.png">

Clicking this component should open native (browser) color picker

[2020-02-12 08:30] arturbien opened #97 "Create a theme generator"
Create a theme generator (something like [this](https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=7E57C2)) so that developers will be able to tweak couple of inputs and then generate js file containing [theme object ](https://github.com/arturbien/React95/blob/master/src/components/common/themes.js)

[2020-02-20 21:09] arturbien commented on #96
closed by #98

[2020-02-20 21:09] #96 closed

[2020-02-21 23:57] #27 closed

[2020-02-21 23:58] #4 closed

[2020-02-29 18:43] arturbien commented on #92
closed by #101

[2020-02-29 18:43] #92 closed

[2020-03-07 08:04] arturbien opened #104 "Divider should render as 'li' in List component"
In a list, the `Divider` should be rendered as an `<li>` element to match the HTML5 specification

[2020-03-11 07:48] sorxrob opened #105 "List z-index not working"
![Capture](https://user-images.githubusercontent.com/13049130/76393947-95179a00-63af-11ea-9adb-6246c2be5a77.PNG)

As you can see in the image, the list items are under the window component. I've tried setting the zIndex of the window to 1 and the List to 2 but nothing worked. Is there a way to achieve this?

Also, is it possible to move the AppBar at the bottom of the page?

Thank you for this wel

[2020-03-11 08:22] arturbien commented on #105
Hi! thanks for using our library ♥️ And yes of course you can style/position the components any way you want. Have you tried using bigger zIndex? or set bigger zIndex but on the whole `<AppBar />` instead of just the `<List />`?

If this doesn't work please upload your project to https://codesandbox.io/ .
Then I will be able to help you out :)

[2020-03-11 08:36] sorxrob commented on #105
Hey thanks for the fast reply!

Yes, adding the zIndex in the AppBar worked! Thank you.

![Capture](https://user-images.githubusercontent.com/13049130/76397626-62bd6b00-63b6-11ea-90e1-57e6925c52b5.PNG)

[2020-03-11 08:36] #105 closed

[2020-03-14 02:21] sorxrob commented on #25
A Windows 95 style Pokédex built with React and React95!

https://poke95.now.sh

<img width="1254" alt="demo" src="https://user-images.githubusercontent.com/13049130/76673153-74348c00-65dd-11ea-8f5a-9fe33b90388c.png">

[2020-03-14 13:30] luizbaldi commented on #25
that's amazing! loved it :)

[2020-03-14 14:44] arturbien commented on #92
:tada: This issue has been resolved in version 3.0.0-beta.1 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/react95/v/3.0.0-beta.1)
- [GitHub release](https://github.com/arturbien/React95/releases/tag/v3.0.0-beta.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-14 14:44] arturbien commented on #74
:tada: This issue has been resolved in version 3.0.0-beta.1 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/react95/v/3.0.0-beta.1)
- [GitHub release](https://github.com/arturbien/React95/releases/tag/v3.0.0-beta.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-14 14:44] arturbien commented on #56
:tada: This issue has been resolved in version 3.0.0-beta.1 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/react95/v/3.0.0-beta.1)
- [GitHub release](https://github.com/arturbien/React95/releases/tag/v3.0.0-beta.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-14 14:44] arturbien commented on #54
:tada: This issue has been resolved in version 3.0.0-beta.1 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/react95/v/3.0.0-beta.1)
- [GitHub release](https://github.com/arturbien/React95/releases/tag/v3.0.0-beta.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-14 14:44] arturbien commented on #44
:tada: This issue has been resolved in version 3.0.0-beta.1 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/react95/v/3.0.0-beta.1)
- [GitHub release](https://github.com/arturbien/React95/releases/tag/v3.0.0-beta.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-14 14:44] arturbien commented on #45
:tada: This issue has been resolved in version 3.0.0-beta.1 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/react95/v/3.0.0-beta.1)
- [GitHub release](https://github.com/arturbien/React95/releases/tag/v3.0.0-beta.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-14 14:44] arturbien commented on #46
:tada: This issue has been resolved in version 3.0.0-beta.1 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/react95/v/3.0.0-beta.1)
- [GitHub release](https://github.com/arturbien/React95/releases/tag/v3.0.0-beta.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-15 21:07] arturbien opened #110 "Deploy Storybook in CI/CD pipeline"

[2020-03-16 19:49] arturbien commented on #110
closed by 3300037507dd1d2d670a800b34d6ad7057113682

[2020-03-16 19:49] #110 closed

[2020-03-17 17:52] arturbien commented on #104
Functionality not needed. User can do this following way:
[code]

[2020-03-17 17:52] #104 closed

[2020-03-17 17:58] arturbien commented on #91
Mostly done in #109

Components which still need forwardRef:
- [ ] DatePicker
- [ ] NumberField
- [ ] Select
- [ ] Toolbar

[2020-03-17 18:00] #6 closed

[2020-03-19 15:48] arturbien opened #114 "Allow disabling shadow in all components"
Currently the 'shadow' prop had to be set to 'false' in order to turn off the shadow in individual component. Find a way to opt out of using shadow in all components.

[2020-03-29 17:42] arturbien opened #123 "Create SelectBox component"
SelectBox is basically a Select component, but instead of a  dropdown, there is a scrollable box of specified height containing all possible options.

<img width="373" alt="Screenshot 2020-03-29 at 19 41 06" src="https://user-images.githubusercontent.com/28541613/77856126-4febc880-71f5-11ea-8a29-4e9388241f37.png">

[2020-03-29 19:14] arturbien opened #124 "Slider doesn't use `min` as origin value, issue with decimal values"
1. When `min` prop is set, it should be treated as the origin of the Slider (it should be the first value on the slider)

<img width="373" alt="Screenshot 2020-03-29 at 20 10 50" src="https://user-images.githubusercontent.com/28541613/77858190-1ff6f200-7202-11ea-8879-f843a64b613b.png">

2. When using decimal values the number of ticks is incorrect

[2020-03-29 19:30] arturbien commented on #124
:tada: This issue has been resolved in version 3.0.0-beta.9 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/react95/v/3.0.0-beta.9)
- [GitHub release](https://github.com/arturbien/React95/releases/tag/v3.0.0-beta.9)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-30 18:14] #124 closed

[2020-04-01 16:43] arturbien opened #127 "Create DigitDisplay component"
<img width="560" alt="Screenshot 2020-04-01 at 18 40 31" src="https://user-images.githubusercontent.com/28541613/78163431-aac92e00-7448-11ea-8cd8-57d3e43984c5.png">

[2020-04-05 16:35] arturbien opened #131 "Add Argos CI regression tests to the pipeline"
Add [Argos CI](https://github.com/argos-ci/argos) tests to detect visual regressions in components

[2020-04-06 20:51] #69 closed

[2020-04-06 20:53] arturbien commented on #69
:tada: This issue has been resolved in version 3.0.0-beta.13 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/react95/v/3.0.0-beta.13)
- [GitHub release](https://github.com/arturbien/React95/releases/tag/v3.0.0-beta.13)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-08 19:23] arturbien opened #139 "Make Storybook stories component imports look like import from installed lib"
Change how component imports look like in Storybook stories. Instead of this:

<img width="639" alt="Screenshot 2020-04-08 at 21 18 31" src="https://user-images.githubusercontent.com/28541613/78824488-b7b4c700-79de-11ea-9576-b5c14303b424.png">

we should display this (because that's how end users access our library):

`import { Checkbox, Fieldset, Toolbar, Button, Cutout } from 'react95';`

[2020-04-08 19:39] #91 closed

[2020-04-08 19:42] arturbien commented on #73
closed by #118, #121, #132

[2020-04-08 19:42] #73 closed

[2020-04-12 22:02] arturbien commented on #89
closed by #142

[2020-04-12 22:02] #89 closed

[2020-04-25 18:58] arturbien commented on #139
closed by #145

[2020-04-25 18:58] #139 closed

[2020-05-23 08:47] arturbien opened #155 "Add overview and guides section to storybook"
Divide Storybook into overview, guides and components sections just like seen [here](https://necolas.github.io/react-native-web/docs/?path=/docs/guides-client-side--page) :
<img width="1035" alt="Screenshot 2020-05-23 at 10 39 32" src="https://user-images.githubusercontent.com/28541613/82726034-b36c1100-9ce1-11ea-9f29-a4b3c60cd474.png">

What we need:
- [ ] overview section with hero image (the on

[2020-05-23 15:50] adrianmcli opened #156 "Add documentation and guide for font"
We need to provide some information and guidance on using the proper font.

@arturbien linked me to this font hat he has been using: https://github.com/arturbien/React95/tree/beta/src/components/assets/fonts

Another option: https://stackoverflow.com/questions/30683657/use-windows-95-font-on-webpage

And while it does "feel" authentic, the one big problem is that it's also quite difficult to read.

[2020-05-27 13:53] adrianmcli opened #158 "Pass through className (and maybe other attributes too) to underlying tag"
If you do this:

[code]

It will render the outer div with `class="my-select"` but the underlying `<select>` element will not have the class-name.

We also want to be able to pass `className` (and other attributes) to the `<option>` elements too.

[2020-05-29 21:25] arturbien opened #159 "Bundle library in both CJS and ESM"
Currently we're building our library using rollup and the only format we publish to NPM is CJS (Common JS).

We should also include ES Modules build in the package.

I think [react-router-dom](https://github.com/ReactTraining/react-router/blob/master/packages/react-router-dom/rollup.config.js) handles it well. ☺️

[2020-06-01 20:19] arturbien commented on #159
closed by #162

[2020-06-01 20:19] #159 closed

[2020-07-18 23:01] arturbien commented on #69
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react95/v/3.0.0)
- [GitHub release](https://github.com/arturbien/React95/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-18 23:01] arturbien commented on #124
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react95/v/3.0.0)
- [GitHub release](https://github.com/arturbien/React95/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-18 23:01] arturbien commented on #92
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react95/v/3.0.0)
- [GitHub release](https://github.com/arturbien/React95/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-18 23:01] arturbien commented on #74
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react95/v/3.0.0)
- [GitHub release](https://github.com/arturbien/React95/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-18 23:01] arturbien commented on #56
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react95/v/3.0.0)
- [GitHub release](https://github.com/arturbien/React95/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-18 23:01] arturbien commented on #54
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react95/v/3.0.0)
- [GitHub release](https://github.com/arturbien/React95/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-18 23:01] arturbien commented on #44
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react95/v/3.0.0)
- [GitHub release](https://github.com/arturbien/React95/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-18 23:02] arturbien commented on #45
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react95/v/3.0.0)
- [GitHub release](https://github.com/arturbien/React95/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-18 23:02] arturbien commented on #46
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react95/v/3.0.0)
- [GitHub release](https://github.com/arturbien/React95/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-24 01:45] jdhartley commented on #25
Just launched <a href="https://racertrash.com/">RacerTrash.com</a> using the recently-released React95 v3 with THEMES, and also used `win95-media-player`! Thanks @arturbien and @benwiley4000 🥳

<a href="https://racertrash.com/">![](https://racertrash.com/og.jpg)</a>

[2020-07-24 02:09] sorxrob commented on #25
That's really nice! Wonder how did you move the AppBar at the bottom part?

[2020-07-24 02:09] sorxrob commented on #25
@jdhartley That's really nice! Wonder how did you move the AppBar at the bottom part?

[2020-07-25 21:07] arturbien opened #180 "Slider tick values not aligned properly"
<img width="179" alt="Screenshot 2020-07-25 at 23 06 31" src="https://user-images.githubusercontent.com/28541613/88466344-9ca58e80-cecb-11ea-85d1-0548d723aa48.png">

[2020-07-25 21:24] #180 closed

[2020-07-25 21:29] arturbien commented on #180
:tada: This issue has been resolved in version 3.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react95/v/3.0.1)
- [GitHub release](https://github.com/arturbien/React95/releases/tag/v3.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-08-28 04:46] maxquinn opened #183 "Update styled-components peer dep to v5"
Relevant features of styled components v5:
- 19% smaller bundle size
- 18% faster client-side mounting
- 17% faster updating of dynamic styles
- 45% faster server-side rendering

There are also no breaking changes from v4 -> v5.
Happy to open a PR if this is wanted?

[2020-08-28 08:10] arturbien commented on #183
@maxquinn thanks for the heads up! and yeah sure I will happily accept your PR ♥️

[2020-09-03 18:22] #183 closed

[2020-09-11 09:45] SvizelPritula opened #189 "Font license"
Is the MS Sans Serif font provided in the distribution freely usable, or is it copyrighted by Microsoft? Similarly, what about the hourglass?

[2020-09-11 10:18] SvizelPritula commented on #189
Ok, thanks. Relatedly, is there a suitable font with better international support?

[2020-09-11 13:43] edwardpayton commented on #25
App to browse Github - [Github95](https://github95.now.sh/)

You can search repos and users, as well as listing trending and popular repos

![](https://ghcdn.rawgit.org/edwardpayton/github95/master/example-images/github95-desktop.png)

React95 is a fantastic library, so easy to use

@sorxrob add a class to [AppBar](https://storybook.react95.io/?path=/story/appbar--default), then css to move bar to

[2020-09-18 10:32] arturbien commented on #189
@SvizelPritula see if this font satisfies your needs: https://fontsarena.com/w95fa-by-fontsarena/ . seems like it has more characters than the ones we use

[2020-09-23 18:13] arturbien commented on #183
:tada: This issue has been resolved in version 3.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react95/v/3.1.0)
- [GitHub release](https://github.com/arturbien/React95/releases/tag/v3.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-24 16:07] arturbien commented on #5
closed by #190

[2020-09-24 16:07] #5 closed

[2020-10-01 22:22] pxd3v commented on #123
Hi Artur! Is this issue still relevant? I would like to try implementing it!

[2020-10-02 09:00] arturbien commented on #123
@pxd3v hey ♥️ yes, that would be great!

Things we need to implement:

- [ ] support for `width` and `height` prop

- [ ] initially select box should be scrolled to the currently selected option

- [ ] accessibility and keyboard controls

- [ ] maybe support for `disabled` prop? I think original Windows 95 didn't have `disabled` state for select box component, but if we come up with a nice way to

[2020-10-05 21:33] pxd3v commented on #123
@arturbien Thank you so much for the guidance! I will start working on it today and i'll keep you updated.

[2020-10-06 13:23] luizbaldi opened #192 "Cutout component not looking good on the docs"
The `Cutout` component is not looking exactly like we want, this is probably related to styling and might be a good opportunity for a first contribution.

Current looking:
<img width="350" alt="Screen Shot 2020-10-06 at 09 53 09" src="https://user-images.githubusercontent.com/17226904/95204153-14d8dc00-07ba-11eb-95c7-22507beda989.png">

Expected looking (you can check [storybook](https://storybook

[2020-10-06 14:23] luizbaldi opened #194 "Write tests and refactor (optional) DatePicker component"
The `DatePicker` component is already created and it's functional, but it was written some time ago and it can be refactored (migrating from class-based to hooks). In order to achieve a good result, we also need a good test coverage.

<img width="316" alt="datepicker" src="https://user-images.githubusercontent.com/17226904/95214210-0b557100-07c6-11eb-8c3a-815387585c8d.png">

### Running storybook

[2020-10-06 14:56] luckened commented on #194
hi! can i work on this?

[2020-10-06 15:04] luizbaldi commented on #194
@luckened For sure! Feel free to drop questions here if you need anything 🚀

[2020-10-06 18:05] branopuzder commented on #192
Hello, can I work on it?

[2020-10-06 18:26] luizbaldi commented on #192
@branopuzder Of course, thank you! Feel free to drop questions/comments here if you need anything 🚀

[2020-10-09 12:39] pxd3v commented on #123
Hi guys! Just to keep you all updated, I'm working on the component! I'm trying to figure out all the themes and css stuff so I can reuse what you guys already implemented, so the process is currently kinda slow hahah but here's a print!
![image](https://user-images.githubusercontent.com/55694628/95583880-32ed4900-0a13-11eb-8ec8-0a453f336324.png)

[2020-10-09 16:27] arturbien commented on #123
Hey! you should use `StyledCutout` as the wrapper component to get proper double borders around the SelectBox just like in `Select` component:
<img width="284" alt="Screenshot 2020-10-09 at 18 23 07" src="https://user-images.githubusercontent.com/28541613/95607757-7cae5180-0a5c-11eb-9842-f8535fb7cd67.png">

You can import it from here:
`import { StyledCutout } from '../Cutout/Cutout';`

Same appro

[2020-10-14 17:26] arturbien opened #195 "add overlay component with CRT screen effect"
Component should mimic CRT screen effect with visible RGB pixels like below:

<img width="284" alt="Screenshot 2020-10-14 at 19 23 31" src="https://user-images.githubusercontent.com/28541613/96023449-c038ff00-0e52-11eb-8b36-60d50cf2598b.png">

[2020-10-14 18:14] luckened commented on #194
@luizbaldi please take a look :mag:

[2020-10-14 18:41] branopuzder commented on #192
Hey there. I've found the problem and fixed it. Should I run `npm run docs:build` before creating a PR or will it be done on Github? Sorry for asking such a question, I'm quite new into it.

[2020-10-16 00:25] pxd3v commented on #123
Hi @arturbien! I just implemented the list with the Cutout, thank you so much for the tip! I want to know, can you explain me more about the different displays? As i saw on the storybook, components have 3 different styles, default, flat and custom. Can you explain me each one please?!

[2020-10-16 18:03] gabecar commented on #114
hi! can i work on this?

[2020-10-16 18:08] arturbien commented on #114
@gabecar this is no longer needed but I forgot to close the issue. sorry for that!

[2020-10-16 18:08] #114 closed

[2020-10-16 19:25] gabecar commented on #127
hi! can i work on this?

[2020-10-16 20:06] luizbaldi commented on #192
@branopuzder Sorry for the delay, you don't need to run `npm run docs:build` because this is being taken care of by the CI, thanks for asking and for working on this, looking forward for your PR!

[2020-10-18 10:30] arturbien commented on #127
@gabecar actually I pretty much finished the component already. I forgot to assign myself to the task. sorry!

[2020-10-18 11:23] arturbien commented on #194
@luckened great work! We have to decide on some things tho and modify couple of things in the DatePicker that were not well planned from the beginning (which is my fault).

1. DatePicker should only consist of month input, year input and date selector. Wrapping it in a `Window` component with `WindowHeader` with hardcoded title is really limiting. That's why we should only care about making this p

[2020-10-19 15:06] luckened commented on #194
@arturbien thanks for the feedback! ❤️
I will work on it and keep you informed if I have any questions =)

[2020-10-22 09:18] #127 closed

[2020-10-27 16:18] branopuzder commented on #192
Hey there! I made a new PR #204 as you asked @arturbien You can check it.

[2020-10-31 08:24] #192 closed

[2020-11-01 02:33] owattenmaker opened #205 "I've created a typescript declaration file"
Hello.

I wanted types and was tired of writing `// @ts-ignore` before every import. So I went through every component and created types for each of them. It's mostly un-tested, but seems to work.

I was going to create a pr into the `DefinitelyTyped` repo, so you could install `@types/react95`, but they give you a hard time when doing that if you're not the author/maintainer of the project.

I th

[2020-11-01 02:35] owattenmaker commented on #205
Some notes: people watching #38 might want to check this out

Also, amazing library, and I hope it continues to grow!

[2020-11-02 14:36] luizbaldi commented on #205
@owattenmaker Thanks for this awesome work, would you like to fork the repo and open a PR? I can do that as well, but since you did the hard work here you deserve the credit haha.

Having a TS declaration file is something that we've been thinking about adding for a while, so this is really cool 😄

[2020-11-04 16:31] arturbien opened #206 "Add support for multi row tabs"
When tabs are multi row, each row should take up 100% width. Also the row with currently selected tab should be moved down like below

![hero](https://user-images.githubusercontent.com/24324122/97060993-9344c480-1595-11eb-8e83-cb78edf1a203.gif):

![hero](https://user-images.githubusercontent.com/24324122/80007665-dc249f00-84c6-11ea-8d3d-3e0ec70f4330.jpg):

[2020-11-08 09:16] arturbien commented on #192
:tada: This issue has been resolved in version 3.4.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react95/v/3.4.0)
- [GitHub release](https://github.com/arturbien/React95/releases/tag/v3.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-11-08 09:24] arturbien opened #208 "Create theme designer app"
Create an app where user can create and preview new color themes and export them in React95 theme file

Somehting similar to this: https://tpenguinltg.github.io/winclassic/

[2020-11-08 09:45] arturbien opened #209 "add Tree component"

[2020-11-08 09:46] arturbien commented on #206
closed by #207

[2020-11-08 09:46] #206 closed

[2020-11-08 10:49] arturbien opened #210 "v 4.0 roadmap"
Let's have a discussion on how we could rebuild and improve our project for our next major release. Here are some things that come to my mind:

- [ ] rewritten in Typescript,
- [ ] styling: utilize CSS variables and get rid of styled-components,
- [ ] component names should match corresponding Windows 95 component names
- [ ] color variable names should match corresponding Windows 95 color variabl

[2020-11-08 10:57] #189 closed

[2020-11-08 11:02] arturbien opened #211 "Create Windows 95 font"
The font that we're currently using (MS Sans Serif) looks great, but it lacks many latin characters and special symbols. It would be great to create similar font that also supports those characters

[2020-11-10 23:58] tpenguinltg opened #212 "Create a utility to map Windows theme colors to React95 theme objects."
This utility be a function that takes in a object with key-value pairs corresponding to Windows theme color properties and maps them into a React95 theme object. The values in the input object should be a valid CSS color and is mapped untouched to the React95 theme object.

Example input:
[code]

**To determine:** Which Windows theme properties map to which React95 theme properties.

This should h

[2020-11-11 00:02] tpenguinltg opened #213 "Add themes by tPenguinLTG"
Port the color schemes of select [Windows Classic themes by tPenguinLTG](https://www.deviantart.com/tpenguinltg/gallery/52576127/windows-classic). It would be easiest to port after work for #212 is completed.

See also: tpenguinltg/winclassic#5

[2020-11-26 21:07] arturbien opened #215 "Add custom theme picker panel in Storybook"
<img width="798" alt="Screenshot 2020-11-26 at 22 06 56" src="https://user-images.githubusercontent.com/28541613/100391437-b6024700-3033-11eb-8cee-370b5e1c615c.png">

[2020-11-27 12:30] belakm commented on #215
will get onto it when i have an hour to spare

[2020-11-28 11:50] arturbien commented on #215
@belakm that would be awesome!

[2020-12-02 13:22] arturbien opened #216 "Add `primary` prop to ListItem"
Primary ListItem should have bold text (see `Open` item below):
<img width="125" alt="Screenshot 2020-12-02 at 14 13 42" src="https://user-images.githubusercontent.com/28541613/100877885-b5413900-34a9-11eb-9218-f50d93fcb8bd.png">

[2020-12-02 15:36] arturbien opened #217 "Add another variant of tabs"
Any idea how these type of tabs are called? anyways, we should have them.
We should be able to use them above or below tab content (just like on the image below)
![33afc8b3f97112f530ba147b76eeff9b](https://user-images.githubusercontent.com/28541613/100893905-28ec4180-34bc-11eb-97d6-85af54e15c1c.jpg)

[2020-12-02 15:53] arturbien opened #218 "Add scrollable task bar. When items are overflowing display >> symbol as shown bellow"
![image](https://user-images.githubusercontent.com/28541613/100896333-cc3e5600-34be-11eb-9d70-aaafea17911f.jpeg)

[2020-12-11 08:02] tpenguinltg commented on #212
I've slowly made progress on this and it's almost ready to go. I just need to add tests and do any necessary clean up when I get a chance, and then I can put up a pull request when it's ready.

[2020-12-11 12:57] arturbien commented on #212
@tpenguinltg that's awesome! <3

[2021-01-06 17:48] #212 closed

[2021-01-06 17:57] arturbien commented on #212
:tada: This issue has been resolved in version 3.5.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react95/v/3.5.0)
- [GitHub release](https://github.com/arturbien/React95/releases/tag/v3.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-06 19:12] arturbien commented on #213
@tpenguinltg maybe lets just put screenshots of available themes here and then we'll decide?

[2021-01-08 02:51] tpenguinltg commented on #213
Collapsed so that it won't take up too much space. Most of these are also available in the link in my original message, but I think some haven't been published yet (if we choose them, I'll publish them so we have something to link to). I don't know how well the flat themes will port, but they _should_ be okay if the mapping was correct.

<details><summary>Aiee</summary>

![Aiee](https://user-image

[2021-01-12 21:36] arturbien commented on #213
@tpenguinltg  So the themes I'd really like to port to React95 are these:

Aiee
Ash
Blue
Cherry
Denim
FxDev
Honey
Hot Chocolate
Hotdog Stand
Polarized
PowerShell
Raspberry
Red Wine
Solarized Dark
Solarized Light
Storm Clouds
Teal for Shelbi - Dark
Teal for Shelbi
Toner
Vista-esque Midnight
White
Windows 1
wmii

[2021-02-05 15:02] arturbien opened #223 "add 'desktopBackground' prop to every theme"
We should add 'desktopBackground' property to every theme that would fit nicely with rest of the theme

[2021-03-16 09:13] #213 closed

[2021-03-16 09:18] arturbien commented on #213
:tada: This issue has been resolved in version 3.7.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react95/v/3.7.0)
- [GitHub release](https://github.com/arturbien/React95/releases/tag/v3.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-27 20:22] traverse opened #231 "Issue with peggysPastels theme"
So I was trying out React95 today, first off kudos it's awesome 👍 but I ran into an issue with one of the themes. I was trying to make the theme dynamically select-able but ran into the following issue.

[code]
It seems all the `utils` are missing from the built package when looking through the files. My best guess that it might be something with the rollup config but I haven't used rollup before

[2021-03-28 10:33] arturbien commented on #231
Hey @traverse! ❤️ can you reproduce the issue on codesandbox?

[2021-03-28 11:45] traverse commented on #231
Yep that's no problem! Here you go https://codesandbox.io/s/practical-mountain-n2keq?file=/src/App.js

[2021-04-15 15:40] mandrilla34 commented on #29
Hello guys, there is a package with the same React 95 theme and they provide icons ready to impose: [Link package icons](https://github.com/React95/React95/tree/master/packages/icons)

[2021-05-09 20:12] arturbien commented on #231
@traverse yes indeed! both `canvasText` and `checkmark` have wrong rgb colors. Wanna create PR fixing this? :)

[2021-06-18 21:36] arturbien opened #244 "Add Tag component"
(See yellow buttons)

![image](https://user-images.githubusercontent.com/28541613/122618138-ea038f00-d08d-11eb-8c65-e51258f94d9f.jpeg)

[2021-08-12 08:07] ruohki commented on #209
[Win95 Tree View](https://i.gyazo.com/e414311649e3067ed0676956179fa36b.jpg)
for reference

[2021-08-12 19:47] arturbien commented on #209
@ruohki want to take care of this task? ☺️

[2021-08-29 10:48] hyperloo commented on #244
Hi @arturbien, can I work on this component? This seems to be interesting and a beginner's friendly start.
![image](https://user-images.githubusercontent.com/43092030/131247688-d831be62-cfa2-42a3-9ff0-00824d2ac99d.png)

The thing that I have noticed is:
1. Each tag has an Image and a text.
2. A tag can be a multi-texted tab.

The things that I would like to know about the component is:
1. Will the

[2021-09-02 17:31] arturbien commented on #244
Hey @hyperloo and welcome to React95 ❤️ sorry for late response, been busy lately.

First of all let's rename this component to `Chip` as it seems to be more popular naming convention.

And let's keep it simple for now.  I think basic requirements would be:
1. Make it similar to button component- make Tag in the same sizes as button (`size` prop)
2. Only text (no need for images/icons right now) p

[2021-09-07 07:12] hyperloo commented on #244
@arturbien Have a look at this PR which I made earlier. I have made it for the Tag Component. https://github.com/arturbien/React95/pull/251

Should I keep this component and create a new Chip Component.

[2021-11-10 06:20] naughtyGitCat commented on #205
@owattenmaker would you like to fork the repo and open a PR to add ts definitions? thanks

[2022-01-20 19:02] #223 closed

[2022-01-20 19:07] arturbien commented on #223
:tada: This issue has been resolved in version 3.9.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react95/v/3.9.1)
- [GitHub release](https://github.com/arturbien/React95/releases/tag/v3.9.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-11 16:20] 735l4 opened #261 "Support for React 17"
Currently if we install react95, we get an error

[code]

[2022-02-11 17:23] arturbien commented on #261
@735l4 thanks for the heads up. Will try to fix asap

[2022-02-11 19:23] arturbien commented on #261
@735l4 can you provide an example in codesandbox or show your package.json?

[2022-02-12 05:11] 735l4 commented on #261
@arturbien sorry that was the wrong error log I've updated it. I got that error when I tried to install react95 for the fresh next.js project it's the same for fresh react 17 installation as well.

[2022-02-12 09:47] #261 closed

[2022-02-12 09:48] arturbien commented on #261
@735l4 should be fixed now. Let me know if it works now : )

[2022-02-12 09:52] arturbien commented on #261
:tada: This issue has been resolved in version 3.11.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react95/v/3.11.0)
- [GitHub release](https://github.com/arturbien/React95/releases/tag/v3.11.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-12 11:55] 735l4 commented on #261
@arturbien it's resolved. Thanks!

[2022-04-18 11:02] alpavlove commented on #209
@arturbien I'd like to take care of this

[2022-04-18 11:25] arturbien commented on #209
@alpavlove awesome! Let's go then

[2022-04-30 15:52] alpavlove commented on #209
@arturbien I've made something and would be happy to receive feedback. Thanks

[2022-06-13 07:02] #209 closed

[2022-06-13 07:09] arturbien commented on #209
:tada: This issue has been resolved in version 3.12.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react95/v/3.12.0)
- [GitHub release](https://github.com/arturbien/React95/releases/tag/v3.12.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-07-17 15:23] WesSouza commented on #210
@arturbien I'd love to work on rewriting using TypeScript.

[2022-07-18 07:59] arturbien commented on #210
@WesSouza that would be awesome. We can discuss details on our Slack channel if you want (link in the README)

[2022-07-18 12:10] WesSouza commented on #210
I worked on a similar set of 95-themed components and used the `border-image` approach:
https://github.com/WesSouza/Wes95/blob/main/src/ui/Themes.ts#L5-L15

The project stalled a while ago, but it still works on https://wes95.com.

[2022-07-18 12:21] WesSouza opened #281 "Use Chromatic for visual tests"
The folks that maintain Storybook created [Chromatic](https://www.chromatic.com/), which provides a great system for visual regression tests. I use a similar service for work and we're moving to Chromatic soon, and it seemed very robust.

It'd be nice to use that to test components visually and also do [interaction testing](https://www.chromatic.com/docs/interactions).

[2022-07-19 21:49] arturbien commented on #281
Sounds nice.
@luizbaldi any experience with Chromatic so far?

[2022-07-20 13:34] WesSouza opened #285 "Component Renaming and Organizing (align with react95-native and some Windows guidelines)"
In order to align the two React95 projects, I propose the following names changes for our components:

| Component    | New Component | Group   | Notes                             |
| ---------------- | ----------------- | ----------- | ------------------------------------- |
| Anchor           | Link              | Text        | Aligned with react95-native           |
| AppBar           | AppBar

[2022-07-24 14:31] WesSouza opened #291 "TypeScript migration"
This issue groups the progress of the work needed to migrate to TypeScript:

- [x] Install TypeScript, configure ESLint, Jest, Rollup and Storybook (#287)
- [x] Add types to code in `common`
- [x] Add types to `Anchor` component (#287)
- [x] Add types to `AppBar` component
- [x] Add types to `Avatar` component
- [x] Add types to `Bar` component
- [x] Add types to `Button` component
- [x] Add types

[2022-08-05 15:34] #215 closed

[2022-08-05 15:37] arturbien commented on #155
closed by #339

[2022-08-05 15:37] #155 closed

[2022-08-05 15:38] WesSouza opened #345 "ci: build-storybook fails intermittently on @beta"
After updating Storybook files (on `.storybook`) to TypeScript, our build started to intermittently fail only on GitHub Actions.

Retrying eventually works, and locally the issue does not manifest.

This is one example of the logs:
https://github.com/arturbien/React95/runs/7693610668?check_suite_focus=true

Babel issue:
[code]

Throws Webpack:
[code]

[2022-08-05 15:40] #291 closed

[2022-08-05 15:41] #285 closed

[2022-08-05 15:43] WesSouza commented on #231
We have fixed this on #289 and it is part of [v3.12.2](https://github.com/arturbien/React95/releases/tag/v3.12.2).

[2022-08-05 15:43] #231 closed

[2022-08-05 15:46] WesSouza commented on #38
This was already completed as part of [v4.0](https://github.com/arturbien/React95/releases?q=v4.0&expanded=true).

[2022-08-05 15:46] #38 closed

[2022-08-05 15:51] WesSouza opened #346 "build: enable preserveModules to main bundle so consumers can use tree shaking"
Rollup is not configure to `preserveModules` for the `src/index.ts` entry, resulting in one ESM and one JS file for the entire library.

We'd like to allow consumers to import individual components and be able to tree shake the files that are not used.

[code]

Should only include files necessary for the Button to render.

[2022-08-05 15:52] WesSouza opened #347 "build: fix TypeScript export for themes"
Currently, Rollup configures themes as a `dir` output type, with `preserveModules` enabled, but the types are not exported accordingly, so importing modules directly fails type checking:

[code]

[2022-08-06 11:50] WesSouza opened #348 "Add Balloon component"
Win32 has the [Balloon Control][1] which provides a dialog box styled layer that can be used to provide contextual help while a user is interacting with a form, similar to an onboarding tooltip, or dialog from an avatar such as Clippit.

It should automatically position according to the screen boundaries, optimally starting at an anchor point to be determined.

The direction uses the concepts of [

[2022-08-07 11:44] #347 closed

[2022-10-18 18:37] arturbien opened #355 "[v4 beta] Hourglass not accepting "style" prop"
Hourglass not accepting "style" prop
<img width="696" alt="Screenshot 2022-10-18 at 20 36 35" src="https://user-images.githubusercontent.com/28541613/196515722-586925f0-1027-4a6e-98c8-3e63d6e3f7e0.png">

[2022-10-28 13:48] arturbien opened #357 "[v4 Beta] dragging / touchmove is not working with Slider component"
Changing value in controlled Slider component doesn't react to dragging and touchmove. Its only possible to change value via clicking/tapping

(cc @WesSouza )

[2022-10-31 15:45] #355 closed

[2022-11-01 18:49] #357 closed

[2022-11-09 07:20] arturbien opened #360 "[V4] Make "menu" variants of Checkbox and Radio part of MenuListItem component"

[2022-11-09 07:24] arturbien opened #361 "[V4] Make MenuListItem tabbable / focusable"
MenuListItem is missing the focus/focus-visible styles.

![Screenshot 2022-11-09 at 08 22 43](https://user-images.githubusercontent.com/28541613/200764952-269521c7-36ba-423b-b75b-2105103786af.png)

[2022-11-10 22:48] arturbien opened #367 "[V4] Add support for MenuList checkbox and radio"
We've removed "menu" variant of the Radio and Checkbox component, because this type of thing should be a part of the `<MenuList />`.

Page 116 https://www.ics.uci.edu/~kobsa/courses/ICS104/course-notes/Microsoft_WindowsGuidelines.pdf
<img width="454" alt="Screenshot 2022-11-10 at 23 45 58" src="https://user-images.githubusercontent.com/28541613/201221935-484c5bf4-a899-46af-bffb-75490d30b939.png">

[2022-11-14 08:49] #360 closed

[2022-11-16 21:14] laurapadilla opened #371 "Update README for NextJS Apps"
_I added this in the `Discussions` but adding here as well for extra visibility_

Hello! I am using the react95 package in a NextJS app and was getting an error because it wasn't able to properly load the fonts front the package. I think it's worth to update the README with the following instructions:

- Add next-transpile-modules and next-fonts dependencies:
[code]

- Edit your next.config.js fil

[2022-11-28 12:46] WesSouza opened #373 "box-sizing: border-box issues"
I tend to use [Paul Irish's box-sizing approach](https://www.paulirish.com/2012/box-sizing-border-box-ftw/) on all my projects, but many of React95 component's CSS expect box-sizing: content-box, which creates visual issues.

We should either apply border-box to all our components, or set it to content-box so our CSS is proper.

[2022-11-28 12:47] WesSouza opened #374 "Table overflows without scrollbars"
`TableBody` contains `overflow-y: auto;`, but it seems it doesn't actually work.